
ПОЗИЦИОНИРОВАНИЕ FLEX БОКС 

ДАННОЕ ПОЗИЦИОНИРОВАНИЕ ОТНОСИТСЯ К РАЗМЕЩЕНИЮ БЛОКОВ ПО ОСИ (ВЕРТИКАЛЬНО) ИЛИ (ГОРИЗОНТАЛЬНО)
ОТНОСИТЕЛЬНО ДРУГ ДРУГА 

FLEX ПРЕМЕНЯЕТСЯ К РОДИТЕЛЬСКОМУ БЛОКУ .my-element И ТЕМ САМЫМ ИЗМЕНЕНИЯМ БУДУТ ПОДВЕРГАТЬСЯ ДОЧЕРНИЕ 
БЛОКИ bloc_1  bloc_2  bloc_3

КОМАНДА display: flex; ЭТА КОМАНДА РАССТАВИТ ПО ГОРИЗОНТАЛИ ТРИ ОДИНАКОВЫХ БЛОКА 
НЕ ЗАВИСИМО ОТ ТОГО НА СКОЛЬКО РАЗНЫМ БУДЕТ СОДЕРЖИМОЕ КАЖДОГО БЛОКА ПО КОЛЛИЧЕСТВУ СЛОВ 

ЕСЛИ ДОБАВИТЬ КОМАНДУ FLEX СО ЗНАЧЕНИЕМ ЦЕЛЫМ ЧИСЛОМ ТО МОЖНО ЗАДАВАТЬ РАЗМЕР БОКСА В ШИРИНУ 
ТУТ МОМЕНТ УВЕЛИЧЕВАЯ ШИРИНУ БЛОКОВ В ЗАВИСИМОСТИ ОТ ТОГО КАК БУДЕТ СУЖАТЬСЯ СОСЕДНИЙ 
БЛОК У ТОГО БЛОКА КОТОРОМУ УВЕЛИЧИЛ ШИРИНУ БУДЕТ ПОЯВЛЯТЬСЯ БОЛЬШЕ ВНУТРЕННЕГО ПРОСТРАНСТВА 
ЭТО МОЖНО УБРАТЬ КОМАНДОЙ  align-items: flex-start; В РОДИТЕЛЬСКИЙ БЛОК ТАК ЖЕ МОЖНО 
ДОБАВИТЬ В МЕСТО flex-start  flex-end  ИЛИ ПРОСТО center 

ТАК ЖЕ ШИРИНУ МОЖНО ЗАДАВАТЬ ДЛЯ ВСЕХ БОКСОВ СРАЗУ КОМАНДОЙ flex-basis: 20%; В РОДИТЕЛЬСКОМ БОКСЕ

ТАК ЖЕ ЕСТЬ СВОЙСТВО С ПОМОЩЬЮ КОТОРОГО МОЖНО ПЕРЕМЕСТИТЬ ВСЕ БОКСЫ (ПО УМОЛЧАНИЮ) В ЛЕВО  В ПРАВО 
ИЛИ ПО ЦЕНТРУ В РОДИТЕЛЬСКОМ БОКСЕ

                justify-content: flex-start; (ПО УМОЛЧАНИЮ С ЛЕВА)
                                     -end;  (С ПРАВА)
                                     -center;     (ПО ЦЕНТРУ)                  
                                spase-around;     (ПО ЦЕНТРУ НА ОДИНАКОВОМ РАССТОЯНИИ ДРУГ ОТ ДРУГА)
                                     -between;  (уберет отступы от краев страницы)

.my-element {                             
    display: flex;
    align-items: flex-start;
}


ТАК ЖЕ КОМАНДОЙ ORDER МОЖНО ПРИСВОИТЬ НОМЕР К КАЖДОМУ БЛОКУ В БРАУЗЕРЕ ЩЕТ БЛОКОВ ПРОИСХОДИТ 
С ЛЕВА НА ПРАВО И МЕНЯЯ ЗНАЧЕНИЯ МОЖНО СКАЖЕМ ПЕРВЫЙ БЛОК СО ЗНАЧЕНИЕМ 1 ПЕРЕСТВИТЬ НА МЕСТО 
ВТОРОГО БЛОКА НЕ МЕНЯЯ КОД НУЖНО ПРОСТО УКАЗАТЬ ЧТО ORDER ПЕРВОГО БЛОКА 2 А ОРДЕР ВТОРГО 
БЛОКА 1 И ОНИ ПОМЕНЯЮТСЯ МЕСТАМИ


.bloc_1 {
    order: 2;
    flex: 1;
}

.bloc_2 {
    order: 1;
    flex: 1;
}

.bloc_3 {
    order: 3;
    flex: 1;
}


ДЛЯ АДАПТИВНОСТИ К ДРУГИМ ЭКРАНАМ НЕОБХОДИМО ОБЕРНУТЬ В ОБОЛОЧКУ МЕДИА СВОЙСТВА УСТАНОВЛЕННЫЕ 
ПРАВИЛА ДЛЯ РОДИТЕЛЬСКИХ БЛОКОВ И ДОБАВИТЬ УСЛОВИЕ КОТОРОЕ БУДЕТ ДЕЙСТВОВАТЬ ПРИ 
ДОСТИЖЕНИИ УКАЗАННЫХ РАЗМЕРОВ 

@media (min-width: 500px) {
    .my-element {                             
        display: flex;
        align-items: flex-start;
    }
}

ТЕПЕРЬ КОГДА ЭКРАН БУДЕТ МЕНЬШЕ 500px УСЛОВИЯ БУДУТ ОТМЕНЕНЫ 