

Floats ЭТО СВОЙСТВО ПРЕМЕНИМО К ДОЧЕРНИМ БЛОКАМ 
ОНО ДАЕТ ЭФЕКТ ТОГО ЧТО ТЕКСТ РОДИТЕЛЬСКОГО БЛОКА 
БУДЕТ ОБТЕКАТЬ ИЗОБРАЖЕНИЕ ДОЧЕРНЕГО БЛОКА 
ТАК ЖЕ МОЖНО УКАЗЫВАТЬ left И right


img {
    width: 150px;
    height: 150px;
    float: left;
  }