
ПОЗИЦИОНИРОВАНИЕ GRID БОКС 

ДАННОЕ ПОЗИЦИОНИРОВАНИЕ ОТНОСИТСЯ К РАЗМЕЩЕНИЮ БЛОКОВ ПО ОСИ (ВЕРТИКАЛЬНО) И (ГОРИЗОНТАЛЬНО)
ОТНОСИТЕЛЬНО ДРУГ ДРУГА ВО ВСЕХ ПЛОСКСТЯХ

ДЛЯ НАЧАЛА ОБЪЯВЛЕНИЕ СВОЙСТВА GRID В РОДИТЕЛЕ БЛОКЕ display:gred;
ДАЛЕЕ ВСЕ БЛОКИ МОЖНО РАЗДЕЛИТЬ ТАК ЧТО БЫ ОНИ ИЛИ БЫЛИ ОДИНАКОВЫМИ ИЛИ 
РАЗНЫМИ ПО РАЗМЕРУ ДЛЯ ЭТОГО ДЛЯ НУЖНЫХ БЛОКОВ УКАЗЫВАЕТСЯ СВОЯ ЕДИНИЦА ИЗМЕРЕНИЯ 
fr (ФРАКЦИЯ) И ЗНАЧЕНИЕ ЦЕЛОЕ ЧИСЛО МОЖНО УКАЗАТЬ ПОД НУЖНОЕКОЛИЧЕСТВО БЛОКОВ СВОЕ ЗНАЧЕНИЕ 
ПРЕДПОЛОЖИМ У МЕНЯ ТРИ БЛОКА И Я ХОЧУ ЧТО БЫ ВТОРОЙ ТОЕСТЬ СРЕДНИЙ БЛОК БЫЛ БОЛЬШЕ ЧЕМ ОСТАЛЬНЫЕ 
Я УКАЗЫВАЮ 

.bloc {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; ЗДЕСЬ СРЕДНИЙ БЛОК БОЛЬШЕ 1 И 3 ПО ГОРИЗОНТАЛИ
}
 
ДАЛЕЕ ЕСЛИ БЛОКОВ НЕ 3 А 30 СКАЖЕМ ДОСКА ДЛЯ ВЫПУСКНИКОВ ШКОЛЫ ТО 
ИСПОЛЬЗУЕТСЯ КОМАНДА repeat(30, 1fr)
ЗДЕСЬ ПЕРВЫМ УКАЗЫВАЕТСЯ ТО  КОИЧЕСТВО  БЛОКОВ КОТОРОЕ БУДЕТ 
РАСПОЛОГАТЬСЯ В ОДНОЙ СТРОКЕ ПО ГОРИЗОНТАЛИ 
А ВТОРЫМ РАЗМЕР ФРАКЦИИ (fr)
ТАК ЖЕ МОЖНО УКАЗАТЬ ОТСТУПЫ МЕЖДУ ИЗОБРАЖЕНИЯМИ grid-gap: 1em;
ТАК ЖЕ МОЖНО УКАЗАТЬ ВЫСОТУ КАЖДОГО БЛОКА grid-auto-rows: 150px;
НА ТОТ СЛУЧАЙ ЕСЛИ СОДЕРЖИМОЕ ОДНОГО ИЛИ НЕСКОЛЬКИХ БЛОКОВ 
БОЛЬШЕ ЧЕМ У ДРУГИХ И НЕ ВМЕЩАЕТСЯ В БОКС ТО ИСПОЛЬЗУЕТСЯ КОМАНДА 
grid-auto-rows: minmax(100px, auto);
ГДЕ ПЕРВОЕ ЗНАЧЕНИЕ ЭТО МИНИМАЛЬНАЯ ВЫСОТА БОКСА А ВТОРОЕ 
ЗНАЧЕНИЕ (АВТОМАТИЧЕСКИ ПОДГОНЯТЬ БОКС ПОД РАЗМЕР СОДЕРЖИМОГО)

.bloc {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-gap: 1em;
    grid-auto-rows: 150px;
    grid-auto-rows: minmax(100px, auto);
}


ДАЛЕЕ МОЖНО ВОЗДЕЙСТВОВАТЬ НА КАЖДЫЙ ДОЧЕРНИЙ БОКС ОТДЕЛЬНО 

.box-1 {

    grid-column: 1/3; ЗАДАЕТСЯ ШИРИНА ПЕРВОЕ ЗНАЧЕНИЕ ТОЧКА ОТЧЕТА ОТ 1 ДО 4 ВТОРЕ ЗНАЧЕНИЕ ЗАНИМАЕМАЯ ЧАСТЬ СТРАНИЦЫ
    grid-row: 1/3;   ЗАДАЕТСЯ ВЫСОТА ПЕРВОЕ ЗНАЧЕНИЕ ТОЧКА ОТЧЕТА ОТ 1 ДО 4 ВТОРЕ ЗНАЧЕНИЕ ЗАНИМАЕМАЯ ЧАСТЬ СТРАНИЦЫ
}

 ВАЖНЫЙ МОМЕНТ СКАЖЕМ ЕСЛИ ПЕРВЫЙ БОКС СО ЗНАЧЕНИЕМ ШИРИНЫ 1/3 И ВЫСОТЫ 1/3 
ТО ЕСЛИ ДОБАВЛЯТЬ АНАЛОГИЧНЫЕ СВОЙСТВА К БЛОКУ КОТОРЫЙ ОСТАЛСЯ С БОКУ 
НУЖНО УЧИТЫВАТЬ УКАЗАННОЕ В ПЕРВОМ БОКСЕ ПРИМЕР СВОЙСТВ ВТОРОГО БОКСА С ПРАВА ОТ ПЕРВОГО 

.box-2 {

    grid-column: 3; ЗАДАЕТСЯ ШИРИНА ПЕРВОЕ ЗНАЧЕНИЕ ТОЧКА ОТЧЕТА ОТ 1 ДО 4 ВТОРЕ ЗНАЧЕНИЕ ЗАНИМАЕМАЯ ЧАСТЬ СТРАНИЦЫ
    grid-row: 1/3;   ЗАДАЕТСЯ ВЫСОТА ПЕРВОЕ ЗНАЧЕНИЕ ТОЧКА ОТЧЕТА ОТ 1 ДО 4 ВТОРЕ ЗНАЧЕНИЕ ЗАНИМАЕМАЯ ЧАСТЬ СТРАНИЦЫ
}

СЕЙЧАС ПОЛУЧИЛОСЬ ДВА БОКСА ПЕРВЫЙ ЗАНЕМАЕТ 75% В ВСЕГО ЭКРАНА В ШИРИНУ И УКАЗАННОЕ ЗНАЧЕНИЕ В ВЫСОТУ 
ДАЛЕЕ ТОТ БОКС КОТОРЫЙ С ПРАВА ЗАНЕМАЕТ ОСТАВШИЕСЯ 25% ЭКРАНА А В ВЫСОТУ ТОЖЕ САМОЕ ЧТО И ПЕРВЫЙ 