

ОБЛАСТИ БЛОЧНОЙ МОДЕЛИ


content ЭТО СОДЕРЖИМОЕ БЛОКА КОНТЕНТ

padding ЭТО ОБЛАСТЬ ВНУТРЕННЕГО ОТСТУПА МЕЖДУ КОНТЕНТОМ И БОРДЕР

border ЭТО ГРАНИЦА БЛОКА РАМКА 

margin ЭТО ГРАНИЦА НАРУЖЕГО ОТСТУПА ОТ БОРДЕР 


ДАЛЕЕ ЧТО БЫ ПРИМЕНИТЬ СТИЛИ К КАКОМУ НИБУДЬ ЭЛЕМЕНТУ САЙТА НЕОБХОДИМО УКАЗАТЬ ЭТОТ ЭЛЕМЕНТ В CSS 

ДОПУСТИМ ЕСТЬ ВОТ ТАКОЙ ФРАГМЕНТ И Я ХОЧУ ОБРАМИТЬ ЕГО В РАМКУ 

<p>I am a paragraph of text that has a few words in it.</p>

ПИШУ ПРАВИЛО CSS 

p {
    box-sizing: border-box;     ЭТО ПРАВИЛО УКАЖЕТ НА ТО ЧТО ВЕСЬ КОНТЕНТ БУДЕТ ПРИНЕМАТЬ РАЗМЕРЫ БЛОКА И ПОДСТРАИВАТЬСЯ ПОД НИХ
    width: 200px;               ВЫСОТА БЛОКА
    height: 400px;   ШИРИНА ЬЛОКА           
    border: 10px solid;     ТОЛЩИНА РАМКИ И СПЛОШНАЯ ЛИНИЯ
    padding: 20px;      ВНУТРЕННИЕ ОТСТУПЫ
}