

СОДЕРЖИМОЕ С РАМКОЙ (БЛОК) У БЛОКА ЕСТЬ 6 ВАЖНЫЕ ПЕРЕМЕННЫЕ НА КОТОРЫЕ МОЖНО ВЛИЯТЬ
С ПОМОЩЬЮ CSS КОДА 

1 CONTENT ЭТО СОДЕРЖИМОЕ БЛОКА 

2 PADDING ЭТО ВНУТРЕННИЕ ОТСТУПЫ СОДЕРЖИМОГО ОТ РАМКИ 

3 BORDER ЭТО САМА РАМКА 

4 MARGIN ЭТО НАРУЖНИЙ ОТСТУП ОТ РАМКИ 

5 WIDTH (ШИРИНА БОКСА) 

6 HEIGHT (ВЫСОТА БОКСА) 
 
КОД CSS 


.border-box-example {
    width: 200px;
    height: 100px;
    padding: 10px;
    border: 5px solid black;
    margin: 20px;
    }

    ЗДЕСЬ ИСПОЛЬЗЫВАЕТСЯ (.border-box-example) ОН ПОЗВОЛЯЕТ ПРЕМЕНЯТЬ ВСЕ ЭТИ РАЗМЕРЫ НЕ МЕНЯЯ ЗАДАННОГО РАЗМЕРА 
    САМОГО БОКСА С ВЫСОТОЙ 200PX А ШИРИНОЙ 100PX + ЗНАЧЕНИЕ MARGIN 20PX 

    МОЖНО ИСПОЛЬЗОВАТЬ (.content-box-example) C ЭТИМ ЗНАЧЕНИЕМ РАЗМЕРЫ ВЫСОТЫ И ШИРИНЫ БУДУТ ПРЕМЕНИМЫ К САМОМУ СОДЕРЖИМОМУ БОКСА