

Единицы измерения


ch  Эта единица позволяет ограничить ширину текста с помощью
    единицы, предназначенной для определения размера текста, что,
    в свою очередь, обеспечивает предсказуемость управления независимо от
    размера этого текста.
    
rem относительная единица измерения, которая относится к размеру шрифта элемента 

    CSS 

    h1 {
        font-size: 3.5rem; РАЗМЕР ТЕКСТА 
        line-height: 1.2;  МЕЖДУ СТРОЧНЫЙ ИНТЕРВАЛ
        max-width: 15ch;   ШИРИНА ТЕКСТА 
      }


      
Проценты 


% в CSS используется для задания размеров и отступов элементов 
  относительно размеров их родительских контейнеров или других элементов.

ПРИМЕР CSS 


div {
  width: 300px;  ШИРИНА 
  height: 100px;  ВЫСОТА
}

div p {
  width: 50%;  ШИРИНА
}

ЗДЕСЬ ПРЕДПОЛЛОЖИМ ЧТО  DIV ЭТО БЛОК С ОПИСАНИЕМ СТАТЬИ А P ЭТО БЛОК ВНУТРИ DIV 
ПРЕДПОЛОЖИМ С КОМЕНТАРИЕМ ИЛИ ФОТОГРАФИЕЙ ТО В ЭТОМ СЛУЧАЕ ПРАВИЛО УКАЗЫВАЕТ НА ТО 
ЧТО ТЕПЕРЬ КОНТЕЙНЕР P БУДЕТ ИМЕТЬ 50% ОТ ШИРИНЫ КОНТЕЙНЕРА DIV 

В ЦЕЛОМ УКАЗАНИЕ РАЗМЕРОВ В ПРОЦЕНТНОМ СООТНОШЕНИИ ЯВЛЯЕТСЯ БОЛЕЕ ПРАВИЛЬНЫМ 
ПО СКОЛЬКУ АДАПТИРОВАНИЕ ДАННОЙ ЕДИНИЦЫ ИЗМЕРЕНИЯ С ЭКРАНАМИ МЕНЬШЕГО РАЗМЕРА 
БУДЕТ ПРОХОДИТЬ ЛУЧШЕ 


