

Многоколоночная верстка


Если у вас есть очень длинный список элементов,
например, список всех стран мира, это может привести
к очень большой прокрутке и потере времени для
пользователя. Кроме того, это может привести к 
образованию лишнего свободного пространства на странице.
С помощью CSS multicolumn можно разделить этот 
список на несколько колонок, что поможет решить обе эти проблемы.


.countries {         СПИСОК СТРАН     
    column-count: 2;    КОЛИЧЕСТВО КОЛОНОК 
    column-gap: 1em;   РАССТОЯНИЕ МЕЖДУ НАСВАНИЯМИ СТРАН
}

ТАК ЖЕ ДЛЯ ОДАПТИВНОСТИ МОЖНО СДЕЛАТ ТАК ЧТО БЫ В ЗАВИСИМОСТИ 
ОТ РАЗМЕРА ЭКРАНА ОТОБРАЖАЛОСЬ ИЛИ УКАЗАННОЕ КОЛИЧЕСТВО КОЛОНОК 
ИЛИ НА МАЛЕНЬКИХ ЭКРАНАХ КОЛОНКА СВОДИЛАСЬ В ОДНУ 
СВОЙСТВО column-width


.countries {          СПИСОК СТРАН   
    column-count: auto; /* Устанавливаем автоматическое количество колонок */
    column-width: 260px; /* Устанавливаем ширину каждой колонки */
  }

  ТАК ЖЕ ДЛЯ ЛУЧШЕЙ АДАПТИВНОСТИ ШИРИНУ КОЛОНОК УКАЗЫВАТЬ ЛУЧШЕ В ПРОЦЕНТНОМ СООТНОШЕНИИ