

Позиционирование

Свойство position изменяет поведение 
элемента в нормальном потоке документа и 
его отношение к другим элементам

ВСЕ ПОЗИЦИОНИРОВАНИЕ УСТАНАВЛЕВАЕТСЯ КАКОГО ЛИБО БЛОКА ОТНОСИТЕЛЬНО ЕГО 
РОДИТЕЛЯ 

1 position: absolute; ЭТО ПРАВИЛО ПОЗВОЛЯЕТ УСТАНОВИТЬ БЛОК В ЛЮБОЙ ЧАСТИ РОДИТЕЛЬСКОГО 
БЛОКА (ВАЖНО РОДИТЕЛЬСКИМ БЛОКОМ ЭТА КОМАНДА БУДЕТ СЧЕТАТЬ ТОЛЬКО 
ТОТ БЛОК В ПРАВИЛЕ КОТОРОГО УКАЗАННА КОМАНДА  (position: relative) В ПРОТИВНОМ СЛУЧАЕ 
РОДИТЕЛЕМ БЛОК БУДЕТ СЧЕТАТЬСЯ САМ BODY) 
ДАЛЕЕ В ЭТОМ ПРАВЕЛЕ МОЖНО УКАЗАТЬ ПОЗИЦИЮ ДОЧЕРНЕГО БЛОКА В РОДИТЕЛЕ КОМАНДАМИ
left: 0;  right: 0; height: 50px; width: 50px; top: 10px; bottom: 0;


.my-element {
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    width: 50px;
    height: 50px;
    bottom: 0;
}


2 position: fixed; ЭТА КОМАНДА ПОЗВОЛЯЕТ ПОЗИЦИОНИРОВАТЬ БЛОК ОТНОСИТЕЛЬНО ВСЕГО BODY 
ДОКУМЕНТА СКАЖЕМ ЗАКРЕПИТЬ БЛОК HEADER НА САМОМ ВЕРХУ САЙТА А ПРИ ПРОКРУТКЕ ВНИЗ
САЙТА ШАПКА БУДЕТ ПЕРЕМЕЩАТЬСЯ ОСТАВАЯСЬ ЗАКРЕПЛЕННОЙ В ВЕРХУ САЙТА 
СЮДА МОЖНО ДОБАВИТЬ КОМАНДЫ  top: 0;   left: 0;


.my-element {
    position: fixed;
    top: 10px;
    left: 0;
}


3  position: sticky; ЭТА КОМАНДА ТАК ЖЕ КАК И КОМАНДА FIXED ПРЕКРЕПЛЯЕТ ШАПКУ К ВЕРХУ СТРАНИЦЫ 
ТОЛЬКО sticky ПРЕКРЕПЛЯЕТ ЕЕ СВЕРХУ РОДИТЕЛЬСКОГО БЛОКА И ПРИ ПРОКРУТКЕ ВНИЗ СТРАНИЦЫ 
ШАПКА ТАКЖЕ ОСТАЕТСЯ НА МЕСТЕ ДО ТЕХ ПОР ПОКА НЕ ДОЙДЕТ ДО ГРАНИЦЫ РОДИТЕЛЬСКОГО 
БЛОКА 

.my-element {
    position: sticky;
    top: 10px;
    left: 0;
}