
1  ::first-letter МОЖНО ИСПОЛЬЗОВАТЬ ДЛЯ УВЕЛИЧЕНИЯ ПЕРВОЙ ЗАГЛАВНОЙ БУКВЫ В СТАТЬЕ 

p::first-letter {
    color: blue;
    font-size: 2.6em;
}

2  ::first-line МОЖНО ЗАДАТЬ СТИЛИ ПЕРВОЙ СТРОКИ ПАРАГРАФА

p::first-line {
 color:blue
}

3  ::before С ПОМОЩЬЮ ЭТОГО ПСЕВДО ЭЛЕМЕНТА МОЖНО В НАЧАЛО СКАЖЕМ СПИСКА (КАЖДОГО ЭЛЕМЕНТА)
ДОБАВИТЬ ТОЧКИ ЛЮБОГО ЦВЕТА (ТАКЖЕ МОЖНО ДОБАВЛЯТЬ ЛЮБЫЕ СИМВОЛЫ ИЛИ ЗНАЧКИ)
ДЛЯ ЭТОГО ПСЕВДОЭЛЕМЕНТА ОБЯЗАТЕЛЬНО НЕОБХОДИМО ДОБАВЛЯТЬ СВОЙСТВО content:" ";  В СКОБКИ КАК 
РАЗ И ДОБАВЛЯЕТСЯ НУЖНЫЙ СИМВОЛ ИЛИ ЗНАЧЕК ЕСЛИ ТАКОЙ НУЖЕН НО САМ ПО СЕБЕ before НЕ ТРЕБУЕТ 
ДОБАВЛЕНИЕ КОНТЕНТА В КОВЫЧКИ И РАБОТАЕТ БЕЗ НЕГО 

ul::before {
  content: " ";
width: 10px;    ШИРИНА
height: 10px;    ВЫСОТА
border-radius: 50%;   ФОРМА ТОЧКИ
background-color: blue;  ЦВЕТ ТОЧКИ 
display: inline-block;   СВОЙСТВО КОТОРОЕ ПОЗВОЛЯЕТ ТОЧКЕ ИМЕТЬ СТРОЧНЫЕ ХАРАКТЕРИСТИКИ 
margin: 0px 10px 0px 0px; ОТСТУП ОТ ТЕКСТА 
}


4  ::after ЭТОТ ПСЕВДОЭЛЕМЕНТ ИМЕЕТ ТОЧНО ТАКОЙ ЖЕ ФУНКЦИОНАЛ КАК И ::before ТОЛЬКО 
ОН ДОБАВЛЯЕТ СИМВОЛ ИЛИ ЗНАЧЕК В КОНЕЦ КАЖДОГО ЭЛЕМЕНТА ДОПУСТИМ СПИСКА


5  ::backdrop ЭТОТ ПСЕВДОЭЛЕМЕНТ ПОЗВОЛЯЕТ УСТАНОВИТЬ ФОН В ВИДЕ ЗАТЕНЕНИЯ ПРИ НЕ 
ПОЛНОЭКРАННОМ ПРОСМОТРЕ ВИДЕО ИЛИ ПРИ ОТКРЫТИИ МОДАЛЬНОГО ОКНА 

.dialog::backdrop {
    background-color:rgba(0, 0, 0, 0.5);
  }


  6  ::selection ЭТОТ ПСЕВДОЭЛЕМЕНТ ЯВЛЯЕТСЯ ГЛОБАЛЬНЫМ ОБЪЯВИВ ЕГО В CSS 
  ВЕСЬ ВЫДЕЛЕННЫЙ ТЕКСТ МЫШКОЙ БУДЕТ ИМЕТЬ УКАЗАННЫЙ ЦВЕТ 

  ::selection {
    background-color: #ffa500; /* оранжевый фон */
    color: #ffffff; /* белый цвет текста */
  }


  7  