

:invalid ЭТОТ ПСЕСДОКЛАСС ПРИДАЕТ ПОЛЮ ВВОДА ДАННЫХ КРАСНУЮ РАМКУ В ТЕХ 
СЛУЧАЯХ ЕСЛИ ДАННЫЕ НЕ КРОРРЕКТНО ВВЕДЕНЫ

:valid УКАЗЫВАЕТСЯ ДЛЯ КОРРЕКТНОГО ОТОБРАЖЕНИЯ ДАННЫХ 

input:invalid {
    border-color: red;
  }
  
  input:valid {
    border-color: green;
  }

  

:hover ЭТОТ ЭЛЕМЕНТ ПРИ НАВЕДЕНИИ КУРСОРА МЫШКИ НА ЭЛЕМЕНТ ССЫЛКИ ВЫДЕЛИТ ЕЕ 
НУЖНЫМ ЦВЕТОМ 

a:hover {
    background: black;    
    color: white;
    text-decoration: none;
}

:active ПСЕВДОКЛАСС С ПОМОЩЬЮ КОТОРОГО МОЖНО СДЕЛАТЬ КНОПКУ ВДАВЛИВАЮЩЕЙСЯ ПРИ НАЖАТИИ

.button:active {
    transform: scale(0.99);  ЗДЕСЬ УСТАНАВЛЕВАЕТСЯ ЗНАЧЕНИЕ В ЗАВИСИМОСТИ ОТ КОТОРОГО ПО РАЗНОМУ БУДЕТ РЕАГИРОВАТЬ КНОПКА
    box-shadow: 0px 0px 0px 5px #000; ЭТА ФУНКЦИЯ ЗАДАЕТ ТЕНЬ ПРИ НАЖАТИИ 
  }

  :link ПСЕВДОКЛАСС КОТОРЫЙ ПРИДАЕТ РАЗНЫЕ СОСТОЯНИЯ ЦВЕТА НЕ ПОСЕЩЕННЫМ ССЫЛКАМ

  :visited ПСЕВДОКЛАСС КОТОРЫЙ ПРИДАЕТ РАЗНЫЕ СОСТОЯНИЯ ЦВЕТА ПОСЕЩЕННЫМ ССЫЛКАМ


  a:link {
    color: blue;
  }
  
  a:visited {
    color: black;
  }


  Порядок имеет значение¶

 Если вы определяете стиль :visited, то он может быть 
 отменен псевдоклассом ссылки, имеющим, по крайней мере,
  такую же специфику. В связи с этим рекомендуется использовать
   правило LVHA для стилизации ссылок с псевдоклассами в
    определенном порядке: :link, :visited, :hover, :active.

    a:link {
    }
    a:visited {
    }
    a:hover {
    }
    a:active {
    }

:first-child и :last-child ИСПОЛЬЗУЮТСЯ ДЛЯ ПРЕМЕНЕНИЯ СТИЛИЗАЦИИ К ПЕРВОМУ И ПОСЛЕДНЕМУ ЭЛЕМЕНТУ 
ИЛИ СПИСКА ИЛИ РОДИТЕЛЬСКОГО БЛОКА (ТЕКСТА)

section :first-child {
    /* стили для первого дочернего элемента */
  }
  
  section :last-child {
    /* стили для последнего дочернего элемента */
  }

  :only-child Также можно выделить элементы, не имеющие братьев и сестер, с помощью псевдокласса

  li:only-child {
    background: lightyellow;
  }

  