

Понимание свойства display

СВОЙСТВО DISPLAY ПРИМЕНЯЕТЯ К БЛОКАМ В ЗАВИСИМОСТИ ОТ ТОГО РОДИТЕЛЬСКИЙ БЛОК 
ИЛИ ДОЧЕРНИЙ

К РОДИТЕЛЬСКОМУ БЛОКУ ПРИМЕНИМЫ СВОЙСТВА

.my-element {
    display: flex; 
}

.my-element {
    display: grid;
}


Flexbox — это механизм верстки для одномерных макетов.
 Разметка осуществляется по одной оси, горизонтальной или вертикальной

 Grid во многом похож на flexbox, но предназначен для управления многоосевыми
  макетами, а не одноосевыми (вертикальное или горизонтальное пространство).


К ДОЧЕРНЕМУ БЛОКУ ПРИМЕНИМЫ СВОЙСТВА

.my-element {
    display: block;
}

.my-element {
    display: inline;
}

СВОЙСТВО inline ПРИМЕНИМО В СЛУЧАЕ ЕСЛИ СОДЕРЖИМОЕ СОСТОИТ ИЗ 
ТЕКСТА ссылки или небольшие иконки СОДЕРЖИМОЕ не будет начинать новую 
строку и будет располагаться рядом друг с другом в поточном направлении.

СВОЙСТВО block ПРЕДНАЗНЧЕНО ДЛЯ ТАКОГО КОНТЕНТ КАК ИЗОБРАЖЕНИЕ БЗАЦЫ ТЕКСТА 
В ОБЩЕМ ТОТ КОНТЕНТ КОТОРЫЙ БУДЕТ НАЧИНАТЬ НОВУЮ СТРОКУ И ЗАНЕМАТЬ ВСУ ДОСТУПНУЮ ШИРИНУ 

СВОЙСТВО display: inline-block; ПОЗВОЛЯЕТ ПРЕМЕНЯЯ ЕГО К ДОЧЕРНИМ ЭЛЕМЕНТАМ ВЫСТРАИВАТЬ ИХ В 
ОДИН РЯД ПО ГОРИЗОНТАЛИ 

