

СЕЛЕКТОР ЭТО ЭЛЕМЕНТ ДЛЯ КОТОРОГО ПИМЕНЯЕТСЯ ПРАВИЛО CSS

ДИКЛАРАЦИЯ ЭТО ЭЛЕМЕНТ С ПОМОЩЬЮ КОТОРОГО ПРОИСХОДЯТ ИЗМЕНЕНИЯ
В ЭЛЕМЕНТЕ ПРИСУТСТВУЮТ ЗНАЧЕНИЯ 

Селектор типа соответствует непосредственно элементу HTML.

ПРИМЕР HTML 

<div class="my-class"></div>

К НЕМУ ПРИМЕНИМ CSS СЕЛЕКТОР

.my-class {
    color: red;
}

HTML-элемент с атрибутом id 

<div id="rad"></div>

CSS


#rad {
    border: 1px solid blue;
}

ЭТО ПРАВИЛО ОБРАМИТ ССЫЛКУ id В СИПЮЮ РАМКУ

С помощью селектора можно искать элементы, имеющие определенный HTML-атрибут 
или определенное значение для HTML-атрибута.

HTML 

<div data-type="primary"></div>

CSS 

[data-type='primary'] {
    color: red;
}

ЭТО ЗНАЧЕНИЕ ПРИОБРЕТЕТ КРАСНЫЙ ЦВЕТ 
ЕСЛИ ДОБАВИТЬ СЕЛЕКТОР S ТО КРАСНЫЙ ЦВЕТ ПРИОБРЕТУТ АТРИБУТЫ ТОЛЬКО 
ТЕ КОТОРЫЕ БУТУТ НАПИСАННЫ С МАЛЕНЬКОЙ БУКВЫ А ЕСЛИ ДОБАВИТЬ СЕЛЕКТОР I 
ТО КРАСНЫЙ ЦВЕТ БУДЕТ ТОЛЬКО У ТЕХ АТРИБУТОВ КОТОРЫЕ С БОЛЬШОЙ БУКВЫ

[data-type='primary' s] {
    color: red;
}

СЕЛЕКТОР МОЖНО ИСПОЛЬЗОВАТЬ НЕ ОДИН ИХ МОЖНО УКАЗЫВАТЬ ЧЕРЕЗ ЗАПЯТУЮ

strong,
em,
.my-class,
[lang] {
    color: red;
}

МОЖНО ИСКАТЬ ОПРЕДЕЛЕННЫЙ ЭЛЕМЕНТ В БЛОКЕ ПРИМЕР 

HTML 

<p>
    A paragraph of text with some
    <strong>bold text for emphasis</strong>.
</p>

CSS 

p strong {
    color: blue;
}

ВЕ ЭЛЕМЕНТЫ ТЭГА strong БУДУТ ОКРАШЕННЫ В КРАСНЫЙ ЦВЕТ 
ЗДЕСЬ УКАЗЫВАЕТСЯ СЕЛЕКТОР p А ЧЕРЕЗ ПРОБЕЛ ОПРЕДЕЛЕННЫЙ ЭЛЕМЕНТ БЛОКА strong 

