

мОЖНО УСТАНОВИТЬ ТЕНЬ ВНУТРИ САМОЙ КАРТИНКИ 

figure img {
    filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 70%))
  }

  ЗДЕСЬ ПЕРВЫЕ ЗНАЧЕНИЯ В (PX) ОТВЕЧАЮТ ЗА ТО С КАКОЙ СТООНЫ 
  БУДЕТ ПАДАТЬ ТЕНЬ С ЛЕВА С ПРАВА ИЛИ ВОКРУГ ВСЕГО ЭЛЕМЕНТА
  ВТОРОЕ ЗНАЧЕНИЕ В СКОБКАХ ЭТО ЦВЕТ ТЕНИ rgba В 
  КОНЦЕ В ПРОЦЕНТНОМ СООТНОШЕНИИ УКАЗЫВАЕТСЯ 
  РАЗМЕР ТЕНИ

  Свойство box-shadow предназначено для добавления 
  тени к блоку HTML-элемента. Оно работает для 
  блочных и инлайн-элементов.

  .my-element {
    box-shadow: 5px 5px 20px 5px #000;
}
 

1 Горизонтальное смещение: положительное число сдвигает его влево, а отрицательное — вправо.

2 Вертикальное смещение: положительное число сдвигает его сверху вниз, а отрицательное — снизу вверх.

3 Радиус размытия: при большем значении тень будет более размытой, а при меньшем — более резкой.

4 Радиус размытия (необязательно): большее число увеличивает размер тени, а меньшее — уменьшает,
 при этом радиус размытия будет равен радиусу размытия, если он установлен в 0.

5 Цвет: Любое допустимое значение цвета. Если он не задан, то будет использоваться вычисленный цвет текста.


ТЕНЬ ДЛЯ ТЕКСТА text-shadow 

.my-element {
    text-shadow: 3px 3px 3px hotpink;
}

1 Горизонтальное смещение: положительное число сдвигает его влево, а отрицательное — вправо.

2 Вертикальное смещение: положительное число сдвигает его сверху вниз, а отрицательное — снизу вверх.

3 Радиус размытия: при большем значении тень будет более размытой, а при меньшем — более резкой.

4 Цвет: Любое допустимое значение цвета. Если он не задан, то будет использоваться вычисленный цвет текста.

С помощью text-shadow, как и с помощью box-shadow, можно добавлять сколько угодно 
теней. Добавьте коллекцию наборов значений, разделенных запятыми, и вы сможете создавать 
действительно интересные текстовые эффекты, например, 3D-текст.

.my-element {
    text-shadow: 1px 1px 0px white, 2px 2px 0px firebrick;
    color: darkslategray;
}

