

Свойство filter¶

В качестве значения для свойства filter можно 
применить один или несколько из перечисленных ниже
фильтров. При неправильном применении фильтра остальные 
фильтры, определенные для filter, работать не будут.


brightness ЭТОТ ФИЛЬТР ПОЗВОЛЯЕТ МЕНЯТЬ ЯРКОСТЬ ИЗОБРАЖЕНИЯ

.my-element {
    filter: brightness(80%);
}

blur ЭТОТ ФИЛЬТР МАТОВОГО СТЕКЛА РАЗМЫТИЕ 

.my-element {
    filter: blur(0.2em);
}

contrast ФИЛЬТР КОНТРАСТНОСТИ 

.my-element {
    filter: contrast(160%);
}

grayscale ФИЛЬТР ДОБАВЛЯЕТ СЕРЫЙ ТОН 

.my-element {
    filter: grayscale(80%);
}

invert ИНВЕРТИРУЕ ЦВЕТА ЗНАЧЕНИЯ ПРИНЕМАЕТ ОТ 0 ДО 1 

.my-element {
    filter: invert(1);
}

opacity ЗАДАЕТ ПРОЗРАЧНОСТЬ 

.my-element {
    filter: opacity(0.3);
}

saturate НАСЫЩЕНОСТЬ ЦВЕТА 

.my-element {
    filter: saturate(155%);
}

sepia Тон сепии — это техника фотопечати, при которой черные тона 
преобразуются в коричневые, чтобы сделать их теплее.

.my-element {
    filter: sepia(70%);
}

hue-rotate МЕНЯЕТ ЦВЕТ КАРТИНКИ В ДИАПОЗОНЕ 360 ГРАДУСОВ

.my-element {
    filter: hue-rotate(120deg);
}

drop-shadow ЗАДАЕТ ТЕНЬ РАМКИ ИЗОБРАЖЕНИЯ ТАК ЖЕ ТРИ ЗНАЧЕНИЯ ТЕНЬ ВЛЕВО В ПРАВО 
В ВЕРХ В НИЗ И ПОЛНОСТЬЮ ВСЕГО ИЗОБРАЖЕНИЯ ТАК ЖЕ МОЖНО ВЫБРАТЬ ЦВКТ ТЕНИ 

.my-element {
    filter: drop-shadow(5px 5px 10px orange);
}

