
ГЛОБАЛЬНАЯ ФУНКЦИЯ :is С ПОМОЩЬЮ ЕЕ МОЖНО ЗАДАВАТЬ СТИЛИ СРАЗУ НЕСКОЛЬКИМ 
ИЛИ ВСЕМ ЭЛЕЛЕМЕНТАМ HTML 

.post :is(h1, h2, h3) {    ЗДЕСЬ ПЕРЕЧИСЛЯЮТСЯ ЧЕРЕЗ ЗАПЯТУЮ ЗАГОЛОВКИ САЙТА 
    line-height: 1.2;
}


:root С ПОМОЩЬЮ ЭТОЙ ФУНКЦИИ МОЖНО ПРИСВОИТЬ (ЦВЕТУ ШРИФТУ И ОТСТУПАМ) КАКОЕ НИБУДЬ ИМЯ А ПОТОМ ОБЪЯВИТЬ
ЕГО ЧЕРЕЗ : var В ЛЮБОЙ ЧАСТИ CSS 

:root {
    --main-font: Arial, sans-serif;    
    --main-padding: 20px;
}

.my-element {
    font-family: var(--main-font);
    padding: var(--main-padding);
}

ФУНКЦИИ ЦВЕТА

rgb(): Эта функция используется для определения цвета в модели RGB (красный, зеленый, синий).
 Принимает три аргумента - значения красного, зеленого и синего каналов в диапазоне от 0 до 255.
Пример: rgb(255, 0, 0) - красный цвет.

rgba(): Похожа на rgb(), но дополнительно принимает четвертый аргумент - значение альфа-канала,
 которое определяет прозрачность цвета. Значение альфа-канала задается в диапазоне от 0 (полностью прозрачный)
  до 1 (полностью непрозрачный).
Пример: rgba(255, 0, 0, 0.5) - полупрозрачный красный цвет.

hsl(): Эта функция используется для определения цвета в модели HSL (оттенок, насыщенность, светлота).
 Принимает три аргумента - значение оттенка (цвета) в градусах (от 0 до 360), значение насыщенности 
 (от 0% до 100%) и значение светлоты (от 0% до 100%).
Пример: hsl(0, 100%, 50%) - красный цвет в модели HSL.

hsla(): Похожа на hsl(), но дополнительно принимает четвертый аргумент - значение альфа-канала 
для определения прозрачности цвета.
Пример: hsla(0, 100%, 50%, 0.5) - полупрозрачный красный цвет в модели HSL.

hwb(): Эта функция используется для определения цвета в модели HWB (оттенок, насыщенность, яркость).
 Принимает три аргумента - значение оттенка (цвета) в градусах, значение насыщенности (от 0% до 100%)
  и значение яркости (от 0% до 100%).
Пример: hwb(0, 0%, 0%) - черный цвет в модели HWB.

lab(): Эта функция используется для определения цвета в модели Lab (освещенность, зеленовато-красный,
 сине-желтый). Принимает три аргумента - значение освещенности (от 0 до 100) и значения зеленовато-красного
  и сине-желтого цветов.
Пример: lab(70%, 20, 10) - цвет в модели Lab.

lch(): Эта функция используется для определения цвета в модели LCH (освещенность, насыщенность, оттенок).
 Принимает три аргумента - значение освещенности (от 0 до 100), значение насыщенности (от 0% до 100%) и 
 значение оттенка (в градусах).
Пример: lch(70%, 50%, 120deg) - цвет в модели LCH.


